<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    {% for category in categories %}
    <a href="{% url 'category' category.slug %}">{{category.name}}</a><br>
    {% endfor %}

    {% for post in posts %}
    <br>
    <br>
    <h1><a href="{% url 'post' post.slug %}">{{post.title}}</a></h1><br>
    <h4>{{post.mini_text}}</h4>
    <h2>{{post.text}}</h2>
    <h5>{{post.created_date}}</h5>
    <h5>Категория: {{post.slug}}</h5>
    {% endfor %}

</body>
</html>