<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    {% for category in categories %}
        <a href="{% url 'category' category.slug %}">{{ category.name }}</a><br>
    {% endfor %}
<hr>
    {% for post in post_list  %}
        <!--<h3><a href="{% url 'post_detail' post.category.slug post.slug %}">{{post.title}}</a></h3>-->
        <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
        <h5>{{ post.published_date }}</h5>
        <h5>Category: {{ post.category }}</h5>
        <small>Comments: {{ post.get_comcounts }}</small><br>
        <small>Viewed: {{ post.viewed }}</small>
    {% endfor %}

</body>
</html>